<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Committee">
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="Committee"/>
        <property name="java-output-path" value="/Committee/web/classes"/>
    </wb-module>
</project-modules>
