@charset "UTF-8";

/* фон страницы */
#bod {
	background: url(../img/fon3.jpg);
}

#menu3 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu3 img {
	border: none;
}

#menu3 {
	width: 250px;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #BCD2E6;
	border-size: 1px;
	border-width: 1px;
}

#menu3 li a {
	height: 32px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 10pt;
	font-weight: bold;
	background: #FFF;
	height: 24px;
	text-decoration: none;
}

#menu3 li
a:link,#menu3 li a:visited {
	color: #8BADCF;
	display: block;
	background: url(../img/menu3.gif);
	padding: 8px 0 0 10px;
}

#menu3 li a:hover {
	color: #627EB7;
	background: url(../img/menu3.gif) 0 -32px;
	padding: 8px 0 0 10px;
}

a img {
	border: none; /* Убираем рамку */
}

dt {
	float: left; /* Для размещения на одной строке */
	width: 100px; /* Ширина для текста */
	text-align: left; /* Выравнивание по правому краю */
	padding-right: 5px; /* Отступ справа */
	min-height: 1px; /* Минимальная высота */
}

dd {
	position: relative; /* Относительное позиционирование */
	top: -1px; /* Смещаем поля вверх */
	margin-bottom: 10px; /* Расстояние между строк */
}

#columns {
	display: table;
	width: 100%;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

#columns>div,#columns>noindex>div {
	display: table-cell;
	vertical-align: top;
	/* 	width: auto; */
	box-sizing: border-box;
}

TABLE {
	border-collapse: collapse;
	border: 1px solid #000;
}

TD,TH {
	padding: 2px; /* Поля вокруг текста */
	border: 1px solid black; /* Рамка вокруг ячеек */
}

/* главный блок, внутри распологаются остальные */
#main {
	background: white;
	/* 	background: url(../img/fon3.jpg); */
	width: 1000px;
	margin: auto;
}

/* надпись "Сохранено" */
#save {
	font-size: 14;
	font-style: italic;
	font-family: !important;
}

/* заголовок */
#header {
	/* 	background: red; */
	width: 1000px;
	height: 180px;
}

/* сообщение об ошибке входа в систему */
#loginError {
	/* 		background: green; */
	width: 990px;
	height: 30px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	text-align: left;
	float: right;
}

/* отображения логина пользователя */
#loginName {
	background-image: url(../img/fon111.jpg);
	/* 	background: red; */
	width: 950px;
	height: 30px;
	text-align: right;
	margin-bottom: 20px;
	padding-right: 50px;
}

/* меню */
#menu {
	/* 		background: blue; */
	width: 300px;
	float: left;
	padding-left: 10px;
	padding-bottom: 30px;
}

/* содержимое */
#content {
	/* 	background: green; */
	padding-left: 5px;
	padding-bottom: 30px;
	width: 680px;
	float: left;
}

/* подвал */
#footer {
	/* 	background: darkred; */
	background-image: url(../img/fon111.jpg);
	width: 1000px;
	vertical-align: bottom;
	padding-top: 50px;
	height: 80px;
	float: left;
}

/* правый блок, не используется */
#news {
	/* 	background: yellow; */
	width: 300px;
	float: right;
	margin: 10px;
	padding-left: 10px;
}